.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
  border: solid 0.05rem var(--border-color);
  border-radius: 0.5rem;
  background-color: #ffffff06;
}

.sectionBottom {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & h3 {
    font-size: 0.85rem;
    color: #ffffffaa;
  }
}
