.codeBlock {
  padding: 0.5rem;
  background-color: #ffffff11;
  border: solid 0.05rem #ffffff11;
  border-radius: 0.5rem;
  text-wrap: wrap;
  color: #ffffffbb;
}

.codeBlockEditor {
  resize: none;
  transition: border-color 0.1s;
  width: 100%;

  &:focus {
    outline: none;
    border-color: #ffffff66;
  }
}
