body {
  font-family: 'Lato', serif;
  background: #323b3e;
  color: #fff;
}

button {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

button:active {
  transform: scale(0.92);
}


header {
  display: flex;
  align-items: center;
  position: relative;

  h1 {
	flex: 1;
	text-align: center;
	margin-left: 3.5rem;
  }

  button {
	margin-right: 2rem;
	background-color: #a270c4;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	width: fit-content;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  button:hover {
	background-color: #8a3ab9;
  }

  button:active {
	transform: scale(0.92);
  }

}

h1 {
  text-align: center;
}

dialog {
  position: absolute;
  background: #3e363f;
  border-width: 5px;
  border-radius: 5px;
}

#resultsModal {
  position: absolute;
  background: #3e363f;
  border-width: 5px;
  border-radius: 5px;
  border: solid black 5px;
}

dialog::backdrop {
  background: black;
  opacity: 0.5;
}

.modalClass {
  // cursor: move;
  user-select: none;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  text-align: center;
  background: #3e363f;
  color: #fff;
  padding: 1rem;
}

.modalClass2 {
  cursor: move;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #3e363f;
  color: #fff;
  padding: 1rem;
}

.modalClass3 {
	user-select: none;
	max-width: 50rem;
	text-align: center;
	background: #3e363f;
	color: #fff;
	padding: 1rem;

	p {
		text-align: left;
	}

	strong {
		color: #d9a0ff;
	}
}

.modal {
  position: absolute;
  z-index: 10;

  h1 {
	margin: 0 0 0.25em 0;
  }

  h3 {
	font-size: 0.9em;
	margin: 0.25em 0;
  }
}

.greyOutButton {
  pointer-events: none;
  background-color: rgb(175, 175, 175);
  border: solid 2px rgb(175, 175, 175);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes border-pulse {
	0% {
		box-shadow: 0 0 0 0 #d9a0ff;
	}
	70% {
		box-shadow: 0 0 0 10px rgba(255,0,0, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255,0,0, 0);
	}
}

.styled-button {
  background-color: #a270c4;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

	border: solid 2px #d9a0ff;
	animation: border-pulse 2s infinite;
}

.styled-button:hover {
  background-color: #8a3ab9;

}

.styled-button:focus {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}
.wordsPreview {
  display: grid;
}

.previewItem {
  opacity: 1;
  color: black;
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefe6;
  border-radius: 6px;
  min-height: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0.5rem;
  transition:
	transform 0.2s,
	opacity 0.5s;
}

.previewItem input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.previewItem label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  padding: 1rem;
  //make it so that they dont select the text label
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

}
.previewItem:hover {
  background-color: #9c9c9c;
  transform: scale(1.03);
}
.previewItem:active {
  background-color: lightblue;
}
.previewItem.selected {
  background-color: rgb(219, 154, 154);
}

.previewItem.staggered-jump {
	animation: jump 0.15s ease-out forwards;
}

.previewItem.correct-move {
  animation: moveToTop 0.5s forwards;
}

.previewItem.incorrect-move {
  animation: sideToSide 0.2s forwards;
}

@keyframes jump {
  0% {
	transform: translateY(0);
  }
  100% {
	transform: translateY(-12px);
  }
}

@keyframes moveToTop {
  0% {
	transform: translateY(0);
  }
  100% {
	transform: translateY(-100%);
	opacity: 0;
  }
}

@keyframes sideToSide {
  0% {
	transform: translateX(-12px);
	// opacity: 0;
  }
  25% {
	transform: translateX(12px);
  }
  50% {
	transform: translateX(-12px);
	// opacity: 1;
  }
  75% {
	transform: translateX(12px);
  }
  100% {
	transform: translateX(0);
	// opacity: 1;
  }
}

.previewItem.selected-4 input[type='checkbox']:checked + label {
  background-color: rgba(223, 123, 234,0.65);
}
.previewItem.selected-8 input[type='checkbox']:checked + label {
  background-color: rgba(84, 146, 255,0.65);
}
.previewItem.selected-12 input[type='checkbox']:checked + label {
  background-color: rgba(105, 227, 82,0.65);
}
.previewItem.selected-16 input[type='checkbox']:checked + label {
  background-color: #e28757;
}
.previewItem.selected-20 input[type='checkbox']:checked + label {
  background-color: rgba(226, 87, 87, 0.75);
}
.previewItem.selected-24 input[type='checkbox']:checked + label {
  background-color: rgb(251, 212, 0);
}
.previewItem.selected-tan input[type='checkbox']:checked + label {
  background-color: #733934;
}
.previewItem.selected-grey input[type='checkbox']:checked + label {
  background-color: #786e6d;
}
.CorrectAnswers {
  display: grid;
  justify-content: center;
  gap: 8px;
  text-align: center;
  font-weight: bold;
}
.AnswerDivBackground {
  padding: 2rem 2rem;
  margin-bottom: 8px;
  width: 90vw;
  color: #fff;
  font-weight: bold;
  font-size: larger;
}
.AnswerDivBackground.selected-8 {
  background-color: rgba(107, 160, 201,0.65);
}
.AnswerDivBackground.selected-12 {
  background-color: rgba(133, 190, 100,0.65);
}
.AnswerDivBackground.selected-4 {
  background-color: rgba(148, 87, 156,0.65);
}
.AnswerDivBackground.selected-24 {
  background-color: rgba(251, 212, 0,0.65);
}
.AnswerDivBackground.selected-16 {
  background-color: rgba(226, 135, 87,0.65);
}
.AnswerDivBackground.selected-20 {
  background-color: rgba(226, 87, 87, 0.75);
  // background-color: rgba(151, 162, 166,0.65);
}

.selected-24 {
  background-color: rgb(251, 212, 0);
}

.selected-20 {
  // background-color: #97a2a6;
  background-color: rgba(226, 87, 87, 0.75);
}

.AnswerDivBackground.selected-tan {
  background-color: #733934;
}

@keyframes growFromCenter {
  0% {
	transform: scale(0);
	opacity: 0;
  }
  50% {
	transform: scale(1.1);
	opacity: 1;
  }
  100% {
	transform: scale(1);
  }
}

.answerDiv-grow {
  animation: growFromCenter 0.5s ease-out forwards;
}

/*colors for the blocks */
// .Blue {background-color: rgb(84, 146, 255)}
.Blue {
  background-color: #6ba0c9;
}
// .Green{background-color: rgb(105, 227, 82);}
.Green {
  background-color: #85be64;
}
.Yellow {
  background-color: rgb(251, 212, 0);
}
// .Pink {background-color: rgb(223, 123, 234);}
.Pink {
  background-color: #94579c;
}
// .Tan {background-color: #914943;}
.Tan {
  background-color: #e28757;
}
.Red {
  background: rgba(226, 87, 87, 0.75);
}

.focus-highlight {
  outline: 4px solid #3b82f6;
  outline-offset: 2px;
}

button {
  margin: 0.3rem;
}
span {
  font-size: 1.5rem;
}
.parenthesis {
  color: #b3b3b3;
}
.singleSelectionBlue {
  background-color: #25d6f5;
}
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.toast-container.show {
  visibility: visible;
  opacity: 1;
}

.toast {
  display: block;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  animation:
	slidein 0.5s,
	fadeout 0.5s 4.5s;
  font-size:1.8rem;
}

@keyframes slidein {
  from {
	opacity: 0;
	transform: translateX(100%);
  }
  to {
	opacity: 1;
	transform: translateX(0);
  }
}

@keyframes fadeout {
  from {
	opacity: 1;
  }
  to {
	opacity: 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#screenReader {
  display: inline;
  // top: -100%;
  font-size: 0;
}

.hidden {
  display: none;
}

.darkenBody {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.checkedStatusScreenReader {
  position: absolute;
  margin-top: -10000px;
  margin-left: -10000px;
  opacity: 0;
}
